div {
  background: rgba(255, 0 ,0, 0.3);
  border-color: pink;
  border-width: medium;
  border-style: dotted;
  border-radius: 10px;
  z-index: 10
}

p {
  background: rgba(0, 0, 150, 0.4);
}

body {
  background: pink
  /* background: url(http://www.furnituredecorativepaper.com/photo/pl15407471-oak_design_wood_grain_finish_foil_paper_1270mm_fire_resistance_30_80gsm_custom.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}
